#palavra {
    font-size: 90px;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}
body{
    background-color: rgb(108, 180, 140);
}

.box{
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
box-shadow: 5px 5px 15px 5px #000000;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
border-radius: 15px;
padding: 50px;
background-color: white
}

.box1{
-webkit-box-shadow: 1px 3px 3px 1px #000000; 
box-shadow: 0px;
padding: 5px;
border-radius: 15px;
background-color: rgb(108, 180, 140);
}

#letras {
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
}
h1{
    text-align: center;
    color: white;
    font-size: 60px;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%,-50%);
}
p{
    font-size: 15px;
    color: white;
    position: absolute;
    left: 50%;
    top: 28%;
    transform: translate(-50%,-50%);
}
#tentativas {
    color: red;
    text-align: center;
    font-size: 30px;
}